@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-image: url(../src/pic/magicpattern-f8sDFh-So88-unsplash.jpg);
  background-color: black;
  background-position: center;
  background-size: cover;
}
.main {
  display: grid;
  grid-template-columns: [first] 25% [line2] auto [line3] 25% [end];
  grid-template-rows: [first] 2% [line2] auto [line3] 2% [end];
  font-family: 'Roboto', sans-serif;
}
.container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: [first] 10% [line2] auto [line3] 10% [end];
  grid-template-rows: [first] 1% [line2] 8% [line3] 2% [line4] auto [line5] 2% [end];
  background-color: rgba(255, 255, 255, .08);
  backdrop-filter: blur(2px);
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}
form {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
}
.input {
  background-color: rgb(235, 235, 235);
  font-size: 1rem;
  border-radius: 0.4rem;
  border: none;
  border-bottom: 2px solid ;
  height: 2.5rem;
  margin-bottom: 1rem;
}
.input-error {
  background-color: rgb(235, 235, 235);
  outline: unset;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid rgb(212, 51, 83);
  height: 2.5rem;
}
.title {
  font-size: 3rem;
  height: 4rem;
  color: white;
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.label {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
.birth {
  font-size: 1rem;
  background-color: rgb(235, 235, 235);
  border: none;
  border-bottom: 2px solid rgb(0, 5, 30);
  border-radius: 0.4rem;
  height: 2.5rem;
}
.error-brith {
  font-size: 1rem;
  background-color: rgb(235, 235, 235);
  border: none;
  border-bottom: 2px solid rgb(212, 51, 83);
  border-radius: 0.4rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  outline: unset;
}
table {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  align-self: center;
  width: 10rem;
  height: 3rem;
  border: unset;
  background-color: rgb(235, 235, 235);
  border-radius: 0.4rem;
  font-size: 1rem;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.close {
  background-color: rgb(235, 235, 235);
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  border: unset;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.error {
  width: 2rem;
  animation: error-show 0.5s ease-in-out forwards;
}
.p-error {
  color: rgb(212, 51, 83);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5rem;
  animation: error-show 0.5s ease-in-out forwards;
}
.p-birth-error {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(212, 51, 83);
}
@keyframes error-show {
  0% {opacity: 0;}
  
  100% {opacity: 1;}
}
.close:hover, .btn:hover {
  cursor: pointer;
  background-color: rgb(212, 51, 83);
  color: white;
}
.input:focus {
  outline-color: rgb(212, 51, 83);
  border-bottom-color: white;
}
.birth:focus {
  outline-color: rgb(212, 51, 83);
  border-bottom-color: white;
}
.month:focus {
  outline-color: rgb(212, 51, 83);
  border-bottom-color: white;
}
/*@keyframes btn-hover {
  0% {
    background-color: rgb(235, 235, 235);
    color: black;
  }
  100% {
    background-color: rgb(212, 51, 83);
    color: rgb(235, 235, 235);
  }
}*/
/*@media screen and (max-width: 720px) {
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}
@media screen and (max-width: 1080px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 60%;
  }
}*/